<!DOCTYPE html>
<html lang="en" data-theme="corporate">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pseudocompiler</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/output.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
</head>
<body>
    <header>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>